[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "websocketpp"]
	path = websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
