[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "better-enums"]
	path = better-enums
	url = git@github.com:aantron/better-enums.git
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
